@using Caixa.Web.Data
@model IEnumerable<Turma>

@{
    ViewData["Title"] = "Turmas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Alunos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary mb-3">Cadastrar Nova Turma</a>
</p>

<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Professor)</th>
                <th class="text-end">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var turma in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(_ => turma.Id)</td>
                    <td>@Html.DisplayFor(_ => turma.Nome)</td>
                    <td>@Html.DisplayFor(_ => turma.Professor)</td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@turma.Id" class="btn btn-sm btn-secondary me-1">Editar</a>
                        <a asp-action="Delete" asp-route-id="@turma.Id" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
